<h2 i18n="@@breadcrumb-h2-1">Breadcrumb 面包屑</h2>
<p i18n="@@breadcrumb-p-1">显示当前页面的路径，快速返回之前的任意页面。</p>

<h3 i18n="@@breadcrumb-h3-1">基础用法</h3>
<p i18n="@@breadcrumb-p-2">基础的、简洁的标签页。</p>
<ex-demo [code]="code[0]" [class]="exClass"></ex-demo>

<h3 i18n="@@breadcrumb-h3-1">选项卡样式</h3>
<p i18n="@@breadcrumb-p-2">选项卡样式的标签页。</p>
<ex-demo [code]="code[1]" [class]="exClass"></ex-demo>

<h3 i18n="@@breadcrumb-h3-1">卡片化</h3>
<p i18n="@@breadcrumb-p-2">卡片化的标签页。</p>
<ex-demo [code]="code[2]" [class]="exClass"></ex-demo>

<h3 i18n="@@breadcrumb-h3-1">位置</h3>
<p i18n="@@breadcrumb-p-2">可以通过 `tab-position` 设置标签的位置</p>
<ex-demo [code]="code[3]" [class]="exClass"></ex-demo>

<h3 i18n="@@breadcrumb-h3-1">自定义标签页</h3>
<p i18n="@@breadcrumb-p-2">可以通过具名 slot 来实现自定义标签页的内容</p>
<ex-demo [code]="code[4]" [class]="exClass"></ex-demo>
